 /* Style the navigation bar */
 .navbar {
    width: 100%;
    background-color:black;
    overflow: hidden;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: white;
    color:black;
  }

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 200px;
  font-size: 17px;
}


